<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="CustomTargets" type="Logger.CustomConfig.StartupTargetsConfigSection, Logger"/>
		<section name ="CustomLogger" type="Logger.CustomConfig.StartupLoggerConfigSection, Logger"/>
	</configSections>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


	<CustomTargets>
		<Targets>
			<add type =" TextListener.TextListener,TextListener">
				<add name ="Name" value="Ivan"/>
				<add name ="Age" value="12" />
			</add>
			<add type =" WordListener.WordListener,WordListener"/>
			<add type =" EventLogListener.EventLogListener,EventLogListener"/>
		</Targets>
	</CustomTargets>


	<CustomLogger>
		<loggers>
			<add minlevel="Trace"/>
		</loggers>
	</CustomLogger>


</configuration>
