<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="CustomTargets" type="NET02_ThirdPart.CustomConfig.StartupTargetsConfigSection, NET02_ThirdPart"/>
		<section name ="CustomLogger" type="NET02_ThirdPart.CustomConfig.StartupLoggerConfigSection, NET02_ThirdPart"/>
	</configSections>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>


	<CustomTargets>
		<Targets>
			<add assembly="TextListener.dll" namespace="TextListener" class="TextListener"/>
			<add assembly="WordListener.dll" namespace="WordListener" class="WordListener"/>
			<add assembly="EventLogListener.dll" namespace="EventLogListener" class="EventLogListener"/>
		</Targets>
	</CustomTargets>


	<CustomLogger>
		<loggers>
			<add minlevel="Warn"/>
		</loggers>
	</CustomLogger>


</configuration>
